<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json;charset=UTF-8;" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-XSS-Protection" value="0" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect for App Builder - remove .html" enabled="true" stopProcessing="true">
                    <match url="^((products\/app-builder\/docs)(\/)?(.*)).html$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{URL}" pattern="^(.*)\/toc(.*)$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Rewrite - remove .html" enabled="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.html" logRewrittenUrl="true" />
                </rule>
                <rule name="Rewrite for App Builder - assets" enabled="true">
                    <match url="^(products\/app-builder\/docs)(\/)?(.*)$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{URL}" pattern="^(.*)\/assets(.*)$" />
                        <add input="{URL}" pattern="^(.*)\/bundles(.*)$" />
                        <add input="{URL}" pattern="^(.*)\/i18n(.*)$" />
                        <add input="{URL}" pattern="^(.*)\/images(.*)$" />
                        <add input="{URL}" pattern="^(.*)\/toc(.*)$" />
                        <add input="{URL}" pattern="^(.*)\.md$" />
                        <add input="{URL}" pattern="^(.*)\.xml$" />
                        <add input="{URL}" pattern="^(.*)\.json$" />
                    </conditions>
                    <action type="Rewrite" url="/app-builder/{R:3}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
