# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master, vNext ]
  pull_request:
    branches: [ master, vNext ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]  # Only run linting on one Node version

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: dotnet tool restore
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v40
      with:
        files: |
          **/*.md
    - name: Run verification on changed files
      if: steps.changed-files.outputs.any_changed == 'true'
      run: |
        echo "Changed markdown files: ${{ steps.changed-files.outputs.all_changed_files }}"
        npx markdownlint ${{ steps.changed-files.outputs.all_changed_files }}
        npx cspell ${{ steps.changed-files.outputs.all_changed_files }}
